<aside class="sponsorships">
  <h2>Our Sponsors</h2>
  <h3 class="sub-head">Diamond Sponsor</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/abledocs-logo.png " alt="Abled Docs" loading="lazy" class="logo" />
    </div>
  </div>
  <h3 class="sub-head">Gold Sponsors</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/shopify_logo.png" alt="Shopify" loading="lazy" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/td-logo.png" alt="TD" loading="lazy" class="logo" />
    </div>
  </div>
  <h3 class="sub-head">Silver Sponsors</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/RO-logo.png" alt="Reason One" loading="lazy" class="logo" />
    </div>
  </div>
  <h3 class="sub-head">Bronze Sponsors</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/Booz_Allen_logo.png" alt="Booz Allen Hamilton" loading="lazy" class="logo" />
    </div>
    <div>
      <img src="/assets/sponsors/Infoaxia_logo.png" alt="Infoaxia" loading="lazy" class="logo" />
    </div>
  </div>
  <p>If you are interested in sponsoring <strong>#a11yTO</strong>, please email us at <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a></p>
</aside>
