<section aria-labelledby="sponsors-title" class="sponsorships">
  <h2 id="sponsors-title">Our Sponsor</h2>
  <h3 class="sub-head">Gold Sponsors</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/evinced-logo.png" alt="Evinced Logo" class="logo" />
    </div>
  </div>
  <h3 class="sub-head">Bronze Sponsor</h3>
  <div class="sponsors">
    <div>
      <img src="/assets/sponsors/AssistivLabs-logo.png" alt="AssistivLabs Logo" class="logo" />
    </div>
  </div>
  <p>If you are interested in sponsoring <strong>#a11yTO</strong>, please email us at <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a>.</p>
</section>
