<section class="sponsorships">
  <h2>Our 2019 Sponsors</h2>
    <h3 class="sub-head">Diamond Sponsor</h3>
    <div class="sponsors ">
      <div>
        <img src="/assets/sponsors/abledocs-logo.png " alt="Abled Docs" class="logo">
      </div>
    </div>
    <h3 class="sub-head">Platinum Sponsors</h3>
    <div class="sponsors ">
      <div>
        <img src="/assets/sponsors/td_logo.png " alt="TD" class="logo">
      </div>
    </div>
    <h3 class="sub-head">Gold Sponsors</h3>
    <div class="sponsors ">
      <div>
        <img src="/assets/sponsors/ami_logo.gif" alt="AMI Inc." class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/crawford-technologies.png" alt="Crawford Technologies" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/deque_logo.png" alt="Deque" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/ea-logo.png " alt="eSSENTIAL Accessibility" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/tpg.png " alt="The Paciello Group" class="logo ">
      </div>
      <div>
        <img src="/assets/sponsors/shopify_logo.png " alt="Shopify" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/siteimprove_logo.png " alt="SiteImprove" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/telus_digital.png " alt="Telus digital " class="logo">
      </div>
    </div>
    <h3 class="sub-head">Bronze Sponsors</h3>
    <div class="sponsors ">
      <div>
        <img src="/assets/sponsors/mozilla_logo.png" alt="Mozilla" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/RO-logo.png" alt="Reason One" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/vena_logo.png" alt="Vena" class="logo">
      </div>
    </div>
    <h3 class="sub-head">Supporting Sponsors</h3>
    <div class="sponsors ">
      <div>
        <img src="/assets/sponsors/accessibility-services-canada.png" alt="Accessibility Services Canada" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/adrian-roselli_logo.jpg" alt="Adrian Roselli LLC" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/RU-Chang_logo.png" alt="Ryerson University: The Chang School for Continuing Education" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/slack-logo.png" alt="Slack" class="logo">
      </div>
      <div>
        <img src="/assets/sponsors/stopgap_logo.png" alt="StopGap Foundation" class="logo">
      </div>
    </div>
    <p>If you are interested in sponsoring <strong>#a11yTO</strong>, please email us at
      <a href="mailto:sponsor@a11yto.com ">sponsor@a11yto.com</a>
    </p>
  </section>
  