---
layout: default
---

  <article id="main-content">
    
    {{ content }}

  </article>

  <section aria-labelledby="venue-title" class="venue">
    <h2 id="venue-title">Venue</h2>
    <img src="/assets/cbc-atrium.jpg" alt="The CBC Atrium stage with its multiple screens from behind the middle section of empty chairs." width="634" height="423">
    <ul class="venue-details">
      <li class="venue-name">CBC</li>
      <li><a title="Map to venue" href="https://www.google.ca/maps/place/250+Front+St+W,+Toronto,+ON+M5V+3G5/@43.6446423,-79.3879269,17z/data=!3m1!4b1!4m6!3m5!1s0x882b34d6c61cc5a1:0x25fa371b9be62bed!8m2!3d43.6446423!4d-79.3879269!16s%2Fg%2F11cscftkr3?entry=ttu&g_ep=EgoyMDI1MDczMC4wIKXMDSoASAFQAw%3D%3D">250 Front St W, Toronto, ON M5V 3G5</a></li>
    </ul>
  </section>

